In [28]:
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON

In [29]:
path='data/dbpedia/'

In [30]:
movies_df=pd.read_csv(path+'MappingMovielens2DBpedia-1.2.tsv', sep='\t', header=None, names=['movie_id','movie_title','dbpedia_link'])

In [31]:
movies_df.head()

,movie_id,movie_title,dbpedia_link
0,781,Stealing Beauty (1996),http://dbpedia.org/resource/Stealing_Beauty
1,1799,Suicide Kings (1997),http://dbpedia.org/resource/Suicide_Kings
2,521,Romeo Is Bleeding (1993),http://dbpedia.org/resource/Romeo_Is_Bleeding
3,3596,Screwed (2000),http://dbpedia.org/resource/Screwed_(2000_film)
4,3682,Magnum Force (1973),http://dbpedia.org/resource/Magnum_Force

In [32]:
sparql = SPARQLWrapper("http://dbpedia.org/sparql")

In [33]:
movie = movies_df.iloc[0, :]
movie_id = movie.get('movie_id')
movie_title = movie.get('movie_title')
movie_dbpedia = movie.get('dbpedia_link')

In [34]:
sparql_query_director_country = "SELECT ?director ?country WHERE { ?dir rdfs:label ?director . ?coun rdfs:label ?country . <%s> dbo:country ?coun .<http://dbpedia.org/resource/Stealing_Beauty> dbo:director ?dir .FILTER (lang(?director) = 'en' AND lang(?country) = 'en')}" % movie_dbpedia
sparql_query_starring = "SELECT ?starring ?label WHERE { ?starring rdfs:label ?label . <%s> dbo:starring ?starring FILTER (lang(?label) = 'en')}" % movie_dbpedia

In [35]:
sparql.setQuery(sparql_query_director_country)
sparql.setReturnFormat(JSON)
director_country_result = sparql.query().convert()
director_country = director_country_result["results"]["bindings"][0]

director = director_country["director"]["value"]
country = director_country["country"]["value"]

print(director, country)

Bernardo Bertolucci France

In [36]:
sparql.setQuery(sparql_query_starring)
sparql.setReturnFormat(JSON)
starring = sparql.query().convert()

for result in starring["results"]["bindings"]:
    print(result["label"]["value"])

Sin√©ad Cusack
Joseph Fiennes
Rachel Weisz
Jeremy Irons
Liv Tyler