In [1]:
import pandas as pd

In [6]:
content = './data/movielense/'

In [11]:
ratings_df = pd.read_csv(content+'ratings.csv')

In [14]:
unique_users = pd.DataFrame(pd.unique(ratings_df['userId']))

In [15]:
unique_users

             0
0            1
1            2
2            3
3            4
4            5
...        ...
283223  283224
283224  283225
283225  283226
283226  283227
283227  283228

[283228 rows x 1 columns]

In [17]:
unique_users.to_csv('./data/unique_users.csv', index=False)